{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide" id="pPanier">
    <header>
        {% include 'nav.html.twig' %}
    </header>

    <main class="pt-5 mt-5">
    <section>
        <div class="bg-light m-3">
            <h1>Votre Panier</h1>
        </div>

        {% if items | length > 0 %}
        <table class="table table-sm bg-light">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.formule.titre }}</td>
                    <td>{{ item.formule.description }}</td>
                    <td>{{ item.formule.prix }} €/mois</td>
                    <td>
                        <a href="{{ path('cart_remove', { 'id': item.formule.id }) }}" class="btn btn-danger btn-sm fas fa-trash-alt"  title="supprimer">
                            
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><strong>Prix Total : </strong></td>
                    <td><strong>{{ total }} €</strong></td>
                </tr>
            </tfoot>
        </table>
       <a href="{{ path('payment') }}?total={{total}}"  title="payement sécuriser" type="button" class="btn btn3 btn-sm"> <i class="fas fa-lock"></i> Payer par CB</a>
        {% else %}
        <p class="m-5 text-center">Votre panier est vide</p>
        {% endif %}
        </section>
    </main>
    {% include 'footer.html.twig' %}
</div>


{% endblock %}