{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Lieu</th>
                    <th>Adresse</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
               {% for item in items %}
                    <tr>
                        <td>{{ item.reservation.lieu }}</td>
                        <td>{{ item.reservation.adresse }}</td>
                        <td>{{ item.reservation.prix }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.reservation.prix * item.quantity }}</td>
                        <td>
                            <a href="#" class="btn btn-danger btn-sm"></a>
                                <i class="fas fa-trash"></i>
                        </td>
                    </tr>
               {% endfor %} 
            </tbody>
        </table>
    {% else %}
        <p>vide</p>
    {% endif %}

    

{% endblock %}