{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide" id="pDetail">
    <header>
        {% include 'nav.html.twig' %}
        <ul class="nav justify-content-center pt-2">
            <li class="nav-item">
                <a class="nav-link active" href="#presentation">Présentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#capacite">Capacités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#avis">Avis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#acces">Accès</a>
            </li>
            <li class="nav-item">
                {# <a href="#" class="btn btnDevis mb-2">Devis Gratuit #}


                <!-- Button trigger modal -->
                <button type="button" class="btn btn2 btnDevis mb-2" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Devis Gratuit
                </button>




                {# </a> #}
            </li>
        </ul>
    </header>
    {% block main %}
    {% for reservation in reservations %}
    {% if reservation.id == salle.id %}
    <div id="carouselExampleControls" class="carousel">
        <div class="carousel">
            <div class="carousel">
                <img src="{{asset('images/reservation/')}}{{reservation.image}}" alt="photo_salle_koala">
            </div>
        </div>
    </div>
    <main>
        <section id="presentation">
            <h2>Présentation</h2>
            <h3>{{reservation.lieu}}</h3>
            <h4>{{reservation.adresse}}</h4>
            <p>{{reservation.description}}</p>
        </section>
        <section id="capacite">
            <h2>Capacités</h2>
            <div class="table-responsive text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><i class="fas fa-arrows-alt" title="Superficie"></i></th>
                            <th scope="col"><i class="fas fa-users" title="Capacité"></i></th>
                            <th scope="col"><i class="fas fa-glass-martini-alt" title="Cocktail"></i></th>
                            <th scope="col"><i class="far fa-clock" title="Horaires d'ouverture"></i></th>
                            <th scope="col"><i class="fas fa-sun" title="Lumière du jour"></i></th>
                            <th scope="col"><i class="fas fa-wheelchair" title="Accès handicapé"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{reservation.lieu}}</th>
                            <td>5</td>
                            <td>{{reservation.capacite}}</td>
                            <td>{{reservation.capacite}}</td>
                            <td>24h</td>
                            <td><i class="fas fa-times"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="avis">
            <h2>Avis</h2>
            {# <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3 text-center align-self-center logoAvis">
                        <img src="{{ asset('img/sss.jpg')}}" class="card-img rounded-circle " alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3 text-center align-self-center logoAvis">
                        <img src="{{ asset('img/sss.jpg')}}" class="card-img rounded-circle" alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3  text-center align-self-center logoAvis">
                        <img src="{{ asset('img/sss.jpg')}}" class="card-img rounded-circle" alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3  text-center align-self-center logoAvis">
                        <img src="{{ asset('img/sss.jpg')}}" class="card-img rounded-circle" alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div> #}

        

        </section>
        <section id="acces">
            <h2>Accès</h2>
            <p class="text-center">Adresse complete</p>
            <div class="map-responsive"><iframe src="{{reservation.map}}" width="600" height="450" frameborder="0"
                    style="border:0;" allowfullscreen=""></iframe></div>
            {# <h4 class="text-left m-4">Pour se déplacer</h4> #}
            {# <ul>
                <li><i class="fas fa-plane"></i> Aéroport Paris Orly - <span>25 min en voiture</span> </li>
                <li><i class="fas fa-car"></i> Accès facile avec la D36</li>
            </ul> #}
        </section>

        <!-- Modal -->
        
    
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Devis gratuit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">

                            <div class="form-group col-10">
                                <div class='input-group date' id='datetimepicker1'>
                                    <label for="example-date-input" class="col-form-label">Date de
                                        l'évenement</label>
                                </div>
                                <div>
                                    <input class="form-control" type="date" id="example-date-input">
                                </div>
                            </div>
                            <div class="form-group col-10">
                                <div>
                                    <label for="example-number-input" class="col-form-label">Nombres de
                                        convives</label>
                                </div>
                                <div>
                                    <input class="form-control" type="number" id="example-number-input">
                                </div>
                            </div>
                            <div class="form-group col-10">
                                <div><label for="exampleTextarea">Détails de mon évènement</label></div>
                                <textarea class="form-control " id="exampleTextarea" rows="3"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn2" data-dismiss="modal">Envoyer ma demande de devis</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    


    </main>
    {% endif %}
    {% endfor %}
    {% endblock %}
    {% include 'footer.html.twig' %}

</div>
{% endblock %}