{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide" id="pDetail">
    <header>
        {% include 'nav.html.twig' %}
        <ul class="nav justify-content-center pt-2">
            <li class="nav-item">
                <a class="nav-link active" href="#presentation">Présentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#capacite">Capacités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#avis">Avis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#acces">Accès</a>
            </li>
            <li class="nav-item">
                {# <a href="#" class="btn btnDevis mb-2">Devis Gratuit #}


                <!-- Button trigger modal -->
                <button type="button" class="btn btn2 btnDevis mb-2" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Devis Gratuit
                </button>







                {# </a> #}
            </li>
        </ul>
    </header>
    {% block main %}
    {% for reservation in reservations %}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/mariage1-koala.jpg')}}" class="d-block w-100" alt="photo_salle_koala">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/zzz.jpg')}}" class="d-block w-100" alt="photo_salle_koala">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/eee.jpg')}}" class="d-block w-100" alt="photo_salle_koala">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <main>
        <section id="presentation">
            <h2>Présentation</h2>
            <h3>{{reservation.lieu}}</h3>
            <h4>{{reservation.adresse}}</h4>
            <p>{{reservation.description}}</p>
        </section>
        <section id="capacite">
            <h2>Capacités</h2>
            <div class="table-responsive text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><i class="fas fa-arrows-alt" title="Superficie"></i></th>
                            <th scope="col"><i class="fas fa-users" title="Capacité"></i></th>
                            <th scope="col"><i class="fas fa-glass-martini-alt" title="Cocktail"></i></th>
                            <th scope="col"><i class="far fa-clock" title="Horaires d'ouverture"></i></th>
                            <th scope="col"><i class="fas fa-sun" title="Lumière du jour"></i></th>
                            <th scope="col"><i class="fas fa-wheelchair" title="Accès handicapé"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{reservation.lieu}}</th>
                            <td>5</td>
                            <td>{{reservation.capacite}}</td>
                            <td>{{reservation.capacite}}</td>
                            <td>24h</td>
                            <td><i class="fas fa-times"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="avis">
            <h2>Avis</h2>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3 text-center align-self-center logoAvis">
                        <img src="{{ asset('img/sss.jpg')}}" class="card-img rounded-circle " alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3 text-center align-self-center logoAvis">
                        <img src="{{ asset('img/sss.jpg')}}" class="card-img rounded-circle" alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3  text-center align-self-center logoAvis">
                        <img src="{{ asset('img/sss.jpg')}}" class="card-img rounded-circle" alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3  text-center align-self-center logoAvis">
                        <img src="{{ asset('img/sss.jpg')}}" class="card-img rounded-circle" alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>

            ajouter un avis si il est membre

        </section>
        <section id="acces">
            <h2>Accès</h2>
            <p class="text-center">Adresse complete</p>
            <div class="map-responsive"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.75786970941!2d2.2768487454759274!3d48.858950576632644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fd7b98f3053%3A0x455a14459c80c16a!2sH%C3%B4tel%20des%20Invalides!5e0!3m2!1sfr!2sfr!4v1578915876186!5m2!1sfr!2sfr"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
            <h4 class="text-left m-4">Pour se déplacer</h4>
            <ul>
                <li><i class="fas fa-plane"></i> Aéroport Paris Orly - <span>25 min en voiture</span> </li>
                <li><i class="fas fa-car"></i> Accès facile avec la D36</li>
            </ul>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Devis gratuit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">

                            <div class="form-group col-10">
                                <div class='input-group date' id='datetimepicker1'>
                                    <label for="example-date-input" class="col-form-label">Date de
                                        l'évenement</label>
                                </div>
                                <div>
                                    <input class="form-control" type="date" id="example-date-input">
                                </div>
                            </div>
                            <div class="form-group col-10">
                                <div>
                                    <label for="example-number-input" class="col-form-label">Nombres de
                                        convives</label>
                                </div>
                                <div>
                                    <input class="form-control" type="number" id="example-number-input">
                                </div>
                            </div>
                            <div class="form-group col-10">
                                <div><label for="exampleTextarea">Détails de mon évènement</label></div>
                                <textarea class="form-control " id="exampleTextarea" rows="3"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn2">Envoyer ma demande de devis</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </main>
    {% endfor %}
    {% endblock %}
    {% include 'footer.html.twig' %}

</div>
{% endblock %}