{% include 'base.html.twig' %}

{% include 'nav.html.twig' %}

{% block title %}Lieux à réserver index{% endblock %}

{% block body %}
    <h1>Lieux à réserver Index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Photo</th>
                <th>Adresse</th>
                <th>Ville</th>
                {# <th>Map</th> #}
                <th>Téléphone</th>
                <th>Prix en €</th>
                <th>Description</th>
                <th>Capacite</th>
                <th>Date</th>
                <th>Utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.lieu }}</td>
                <td><img src="{{ asset('images/reservation/')}}{{ reservation.image }}" style="width:75px; max-height:75px;"></td>
                <td>{{ reservation.adresse }}</td>
                <td>{{ reservation.ville }}</td>
                {# <td>{{ reservation.map }}</td> #}
                <td>{{ reservation.telephone }}</td>
                <td>{{ reservation.prix }} Euros</td>
                <td>{{ reservation.description }}</td>
                <td>{{ reservation.capacite }} pers.</td>
                <td>{{ reservation.createdAt ? reservation.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ reservation.user }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun lieu trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Créer un nouveau lieu à réserver</a>

    <hr>
    
    <button class="ajax">Menu AJAX</button>

    <table class="table table-bordered table-dark">
        <tbody id="reservation"></tbody>
    </table> 

{% endblock %}
{% include 'footer.html.twig' %}
