{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Capacite</th>
                <th>Created_at</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.lieu }}</td>
                <td>{{ reservation.adresse }}</td>
                <td>{{ reservation.telephone }}</td>
                <td>{{ reservation.prix }}</td>
                <td>{{ reservation.description }}</td>
                <td>{{ reservation.capacite }}</td>
                <td>{{ reservation.createdAt ? reservation.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ reservation.user }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>

    <h1>Ajax</h1>
    <button class="ajax">click me</button>

    <table class="table table-bordered table-dark">
        <tbody id="reservation"></tbody>
    </table>

{% endblock %}
