{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide" id="pPlan">

  <header>
    {% include 'nav.html.twig' %}
   
  </header>
  {% block main %}
  <main>
    <section class="text-center">
      <div class="traitD"></div>
      <h1>Plan du site</h1>
      <div class="traitL"></div>

      <a href="{{path('homepage')}}">Accueil</a>
      <a href="{{path('salles')}}">Salles</a>

      <a href="">Connexion</a>
      <a href="{{path('app_register')}}">Inscription</a>
      <a href="">Contact</a>

      <a href="{{path('qsn')}}">Qui sommes nous?</a>
      <a href="{{path('ccm')}}">Comment ça marche</a>

      <a href="{{path('mentions_legales')}}" target="_blank">Mentions légales</a>
      <a href="{{path('politique_confidentialite')}}" target="_blank">Politique de confidentialité</a>
      <a href="{{path('cgv')}}" target="_blank">Conditions générales d'utilisation</a>
    </section>
  </main>
  {% endblock %}
  {% include 'footer.html.twig' %}

</div>
{% endblock %}