{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluide" id="pPlan">

        <header>
            {% include 'nav.html.twig' %}
            <ul class="nav justify-content-center pt-2">
                <li class="nav-item">
                  <a class="nav-link active" href="#presentation">Présentation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#capacite">Capacité</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#avis">Avis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#acces">Accès</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btnDevis mb-2">Devis Gratuit</a>
                </li>
              </ul>
            </header>

            {% block main %}
            <main>
            <section class="text-center">
                <div class="traitD"></div>
                <h1>Plan du site</h1>
                <div class="traitL"></div>

                <a href="{{path('homepage')}}">Accueil</a>
                <hr>
                <a href="{{path('salles')}}">Lieux d'exception</a>
                <hr>
                <a href="{{path('fos_user_security_login')}}">Connexion</a>
                <hr>
                <a href= "" class="nav-item" data-toggle="modal" data-target="#exampleModal"><span class="nav-link insc">Inscription</span></a>
                <hr>
                <a href="{{path('presentation')}}">La TEAM KOALA</a>
                <hr>
                <a href="https://donate.wwf.org.au/adopt/koala">Faites un don afin de sauver les koalas d'Australie</a>
                <hr>
                <a href="{{path('mentions_legales')}}">Mentions légales</a>
                <hr>
                <a href="{{path('politique_confidentialite')}}">Politique de confidentialité</a>
                <hr>
                <a href="{{path('cgv')}}">Conditions générales d'utilisation</a>
                <hr>
                -
                <hr>
                -
                <hr>
                -
            </section>
        </main>
            {% endblock %}
            
            {% include 'footer.html.twig' %}

    
{% endblock %}
