{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide" id="pSalles">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}
    <main class=" mt-5 pt-5">
        <form method="" action="" class="formFiltreSalle">

            <div class="form-group text-center">
                <div class="col-xs-12 col-md-3">
                    <i class="fas fa-map-marker-alt"></i>
                    <input type="text" class="form-control pl-5 p-4" placeholder="Ville">
                </div>
                <div class="col-xs-12 col-md-3">
                    <i class="fas fa-search"></i>
                    <input type="text" class="form-control milieu pl-5 p-4" placeholder="Mariage,formation">
                </div>
                <button type="submit" class="btn btn1 col-xs-10 col-md-2">rechercher</button>
            </div>
        </form>
        <section class="listeSalle m-5">
            <!-- boucle -->
            <h2>Découvrer nos Salles</h2>
            <ul class="row mt-4">
                <li class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="" target="_blank"><img src="{{ asset('img/sss.jpg')}}" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text">Adresse</p>
                            <a href="#" class="btn btnDevis">Devis Gratuit</a>
                            <p>Avis</p>


                            <!-- <a href=""> <span><i class="fas fa-star"></i></span></a>
                                  <a href=""> <span><i class="fas fa-star"></i></span></a> <a href=""> <span><i class="fas fa-star"></i></span></a> <a href=""> <span><i class="fas fa-star"></i></span></a> <a href=""> <span><i class="fas fa-star"></i></span></a> -->


                        </div>
                    </div>
                </li>

                <!-- 2eme card -->
                <li class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="" target="_blank"><img src="{{ asset('img/sss.jpg')}}" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text">Adresse</p>
                            <a href="#" class="btn btnDevis">Devis Gratuit</a>
                            <p>Avis</p>

                        </div>
                    </div>
                </li>
                <!-- 2eme card -->
                <li class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="" target="_blank"><img src="{{ asset('img/sss.jpg')}}" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text">Adresse</p>
                            <a href="#" class="btn btnDevis">Devis Gratuit</a>
                            <p>Avis</p>

                        </div>
                    </div>
                </li>
                <!-- 2eme card -->
                <li class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="" target="_blank"><img src="{{ asset('img/sss.jpg')}}" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text">Adresse</p>
                            <a href="#" class="btn btnDevis">Devis Gratuit</a>
                            <p>Avis</p>

                        </div>
                    </div>
                </li>
                <!-- 2eme card -->
                <li class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="" target="_blank"><img src="{{ asset('img/sss.jpg')}}" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text">Adresse</p>
                            <a href="#" class="btn btnDevis">Devis Gratuit</a>
                            <p>Avis</p>

                        </div>
                    </div>
                </li>
                <li class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="" target="_blank"><img src="{{ asset('img/sss.jpg')}}" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text">Adresse</p>
                            <a href="#" class="btn btnDevis">Devis Gratuit</a>
                            <p>Avis</p>

                        </div>
                    </div>
                </li>
                <li class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="" target="_blank"><img src="{{ asset('img/sss.jpg')}}" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text">Adresse</p>
                            <a href="#" class="btn btnDevis">Devis Gratuit</a>
                            <p>Avis</p>

                        </div>
                    </div>
                </li>
                <li class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="" target="_blank"><img src="{{ asset('img/sss.jpg')}}" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Nom</h5>
                            <p class="card-text">Adresse</p>
                            <a href="#" class="btn btnDevis">Devis Gratuit</a>
                            <p>Avis</p>

                        </div>
                    </div>
                </li>
            </ul>


        </section>
    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}

</div>
{% endblock %}