{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide" id="pSalles">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}
    <main class=" mt-5 pt-5">
        <form method="post" action="" class="formFiltreSalle">

            <div class="form-group text-center">
                <div class="col-xs-12 col-md-3">
                    <i class="fas fa-map-marker-alt"></i>
                    <input type="text" class="form-control pl-5 p-4" placeholder="Ville" name="ville" id="ville">
                </div>
                <div class="col-xs-12 col-md-3">
                    <i class="fas fa-search"></i>
                    <input type="text" class="form-control milieu pl-5 p-4" placeholder="Mariage,formation">
                </div>
                <div class="col-xs-12 col-md-3">
                    <i class="fas fa-users"></i>
                    <input type="text" class="form-control milieu pl-5 p-4" placeholder="nombre de personnes" name="capacite" id="capacite">
                </div>
                <button type="submit" class="btn btn1 col-xs-10 col-md-2">rechercher</button>
            </div>
        </form>
        <section class="listeSalle m-5">
            <!-- boucle -->
            <h2>Découvrez nos Salles</h2>
            <div class="row mt-4">
                {% for reservation in reservations %}
                {# {% if reservation.ville == post.ville %} #}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card">
                            <a href="" target="_blank"><img src="{{ asset('images/reservation/')}}{{ reservation.image }}" style=" max-height:100px;" alt="lieu à louer">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ reservation.lieu }}</h5>
                                <p class="card-text">{{ reservation.adresse }}</p>
                                <a href="#" class="btn btnDevis">A partir de {{ reservation.prix }} €</a>
                                <p>Commentaires</p>
                                <a href="{{ path('cart_add',{'id': reservation.id } )}}" class="btn btn-success float-right">
                                    <i class="fas mr-1"></i>
                                    Réserver
                                </a>
                            </div>
                        </div>
                    </div>
                {# {% endif %} #}
                {% endfor %}
                <div id="reservation"></div>
            </div>            
        </section>
    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}

</div>
{% endblock %}