{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscription.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ inscription.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ inscription.prenom }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ inscription.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ inscription.ville }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ inscription.dateNaissance }}</td>
            </tr>
            <tr>
                <th>Numero_telephone</th>
                <td>{{ inscription.numeroTelephone }}</td>
            </tr>
            <tr>
                <th>Nom_salle</th>
                <td>{{ inscription.nomSalle }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ inscription.email }}</td>
            </tr>
            <tr>
                <th>Mot_de_passe</th>
                <td>{{ inscription.motDePasse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inscription_index') }}">back to list</a>

    <a href="{{ path('inscription_edit', {'id': inscription.id}) }}">edit</a>

    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}