{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluide" id="pPlan">

      
    {% include 'nav.html.twig' %}
    
    {% block main %}
    
    <div id="contactForm" class="mt-4">
    {{ form_start(form) }}
    <div class="row">{{ form_row(form.prenom) }}</div>
    <div class="row">{{ form_row(form.nom) }}</div>
    <div class="col">
    </div>
    <div class="row">
    <div class="row">{{ form_row(form.telephone) }}</div>
    <div class="row">{{ form_row(form.email) }}</div>
    </div>
    {{ form_rest(form) }}
    <div class="form-group">
    <button class="btn btn-primary">Envoyer</button>
    </div>
    {{ form_end(form) }}
    </div>



    {% endblock %}
    {% include 'footer.html.twig' %}

    </div>
{% endblock %}