<footer>
	<div class="hautF">
		<a href="#"><img src="{{asset('img/logo3.png')}}" alt="logo"></a>
		<div class="apropos mb-4">
			<h4>A propos</h4>
			<div>
				<a href="{{path('qsn')}}">Qui sommes nous?</a>
			</div>
			<div>
				<a href="{{path('ccm')}}">Comment ça marche</a>
			</div>
		</div>
		<div class="information mb-4">
			<h4>Information</h4>
			<div>
				<a href="{{path('cgv')}}" target="_blank">Conditions générales d'utilisation</a>
			</div>
			<div>
				<a href="{{path('politique_confidentialite')}}" target="_blank">Politique de confidentialité</a>
			</div>
			<div>
				<a href="{{path('mentions_legales')}}" target="_blank">Mentions légales</a>
			</div>
			<div>
				<a href="{{path('plan')}}">Plan de Site</a>
			</div>
		</div>
		<div class="contact mb-4">
			<h4>Contact</h4>
			<div>
				<a class="fa fa-envelope" aria-hidden="true"href="mailto:koala@gmail.com">koala@gmail.com</a>
				
			</div>
			<div>
				<a class="fa fa-phone" aria-hidden="true"></a>
				<a href="tel:01 11 11 11 11">01 11 11 11 11</a>
			</div>
			{# <div>
				<a class="fab fa-facebook-square"></a>
				<a class="fab fa-twitter-square"></a>
				<a class="fab fa-linkedin"></a>
			</div> #}
			<div class="reseaux-sociaux">
				<a class="fab fa-facebook-f" href="https://fr-fr.facebook.com"></a>
				<a class="fab fa-instagram" href="https://www.instagram.com"></a>
				<a class="fab fa-pinterest-p" href="https://www.pinterest.fr/"></a>
				<a class="fab fa-twitter" href="https://twitter.com/"></a>
				<a class="fab fa-tripadvisor" href="https://www.tripadvisor.fr/"></a>
				
			</div>
		</div>
	</div>
	<p class="copyr">&copy;2020 Tous droits réservés</p>
</footer>